@use '../../../assets/styles/variables' as v;

.list-request {
  max-height: calc(100vh - 85px);
  margin: 0 8px;
  padding: 8px 16px;
  border-radius: 5px;
  overflow: auto;
  background-color: v.$white;
  box-shadow: 0 2px 4px rgb(15 34 58 / 12%);

  .separate {
    margin: 2px 0;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
  }
}
