@use '../../assets/styles/variables' as v;

.otp-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px 0;
  flex-direction: column;

  .otp-check {
    max-width: 400px;
    width: 100%;
    text-align: center;
    padding: 24px;
    background-color: v.$white;

    .otp-check__heading {
      color: v.$text-color;
      font-weight: 600;
      margin-bottom: 8px;
    }

    .otp-check__sub-heading {
      color: v.$text-sub-color;
      font-size: 15px;
      font-weight: 400;
      margin-top: 0px;
      margin-bottom: 24px;
    }

    .otp-check__desc {
      text-align: center;
      color: v.$text-sub-color;
      font-size: 15px;
      font-weight: 400;
      margin-top: 24px;

      .btn-resend {
        background-color: transparent;
        box-shadow: none;
        border: none;
        outline: none;
        padding: 0 0 0 4px;
        color: v.$button;

        &:hover {
          border: none;
          outline: none;
          opacity: 0.8;
        }

        .spinner {
          .spinner__icon {
            color: v.$primary;
          }
        }
      }
    }

    .otp-check__btn {
      display: flex;
      justify-content: end;
      margin-top: 24px;

      .btn-reset {
        background-color: transparent;
        border: none;
        box-shadow: none;

        &:hover {
          border: none;
          outline: none;
          color: v.$text-color;
          opacity: 0.8;
        }

        &:focus {
          color: v.$text-color;
        }
      }

      .btn-verify {
        color: v.$white;
      }
    }
  }

  .otp-page__footer {
    margin-top: 60px;
    text-align: center;

    .author,
    .anothor-account-title {
      font-size: 15px;
      font-weight: 400;
      color: v.$text-color;
    }

    .anothor-account-title {
      .btn-back-login {
        color: v.$primary;
        padding: 4px 8px;
        box-shadow: unset;
        border: none;
        background-color: unset;
      }
    }

    .author__heart-icon {
      font-size: 12px;
      color: #ff0000;
    }
  }
}
