@use '../../../assets/styles/variables' as v;

.chat-header {
	display: flex;
	flex-wrap: wrap;
	height: 90px;
	padding: 1.5rem;
	border-bottom: 0.5px solid rgba($color: #495057, $alpha: 0.1);
	justify-content: space-between;

	.chat-header__profile-avatar {
		display: flex;
		align-items: center;
	}

	.username {
		font-size: 16px;
		font-weight: 500;
		color: v.$text-color;
		margin-bottom: 4px;
		margin-left: 10px;
	}

	.status {
		margin-bottom: 5px;
		padding: 0 5px;

		.status__icon {
			color: #08d6a1;
			font-size: 10px;
		}
	}

	.username,
	.status {
		display: flex;
		align-items: center;
	}

	.items-chat__btn {
		border: none;
		width: 40px;
		height: 40px;

		.custom-chat-icon {
			font-size: 20px;
		}
	}

	.items-chat__btn:hover {
		color: #000;
	}

	.chat-header__items-chat {
		display: flex;
		align-items: center;
		.chat-header__search {
			.custom-chat-icon {
				font-size: 20px;
			}
			.dropdown-input.ant-dropdown-menu-item {
				padding: 0;
			}
			.ant-dropdown-trigger.dropdown.custom-dropdown-menu {
				width: 40px;
				height: 40px;
			}
		}
		.custom-chat-icon {
			svg[data-icon='search'] {
				color: black;
			}
			svg[data-icon='ellipsis'] {
				color: black;
			}
		}
	}
	.chat-header__actions {
		.actions__item {
			.ant-dropdown-trigger.dropdown.custom-dropdown-menu {
				width: 40px;
				height: 40px;
			}
		}
	}
}
