@use '../../assets/styles/variables' as v;

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px 0;
  flex-direction: column;

  .title {
    &.heading {
      color: v.$text-color;
      font-weight: 600;
      margin-bottom: 8px;
    }

    &.sub-heading {
      color: v.$text-sub-color;
      font-size: 15px;
      font-weight: 400;
      margin-top: 0px;
      margin-bottom: 24px;
    }
  }

  .card {
    width: 100%;
    max-width: 456px;
    padding: 24px;
    border-radius: 4px;

    .form-container {
      padding: 16px;

      .ant-form-item {
        margin-bottom: 16px;

        // Custom CSS for label
        .ant-form-item-label {
          padding: 0;

          .ant-form-item-required {
            font-size: 15px;
            color: v.$text-color;
            font-weight: 500;
          }
        }
      }

      // CSS link styles
      .password-item {
        position: relative;

        .password-item__forgot-link {
          font-size: 13px;
          color: v.$text-sub-color;
          position: absolute;
          right: 0;
          top: 16px;
          transform: translateY(-50%);
          z-index: 1;

          &:hover {
            color: v.$text-sub-color;
          }
        }
      }

      .button-item {
        margin-bottom: 0;
      }
    }
  }

  .login-page__footer {
    margin-top: 48px;
    text-align: center;

    .ask-account,
    .author {
      font-size: 15px;
      font-weight: 400;
      color: v.$text-color;
    }

    .ask-account__register-link {
      color: v.$primary;
    }

    .author__heart-icon {
      font-size: 12px;
      color: #ff0000;
    }
  }
}
