@use '../../assets/styles/variables' as v;

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;

  &__logo {
    margin-bottom: 48px;

    img {
      height: 30px;
    }
  }

  .login-page__heading {
    color: v.$text-color;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .login-page__sub-heading {
    color: v.$text-sub-color;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0px !important;
    margin-bottom: 24px;
  }

  .card {
    width: 100%;
    max-width: 456px;
    padding: 24px;
    border-radius: 4px;
  }

  &__form-container {
    padding: 16px;

    .ant-form-item {
      margin-bottom: 16px;
    }

    // Custom CSS for label
    .ant-form-item-label {
      padding: 0 !important;

      .ant-form-item-required {
        font-size: 15px;
        color: v.$text-color;
        font-weight: 500;
      }
    }

    // CSS link styles
    &__password {
      position: relative;

      &__forgot-link {
        font-size: 13px;
        color: v.$text-sub-color;
        position: absolute;
        right: 0;
        top: 16px;
        transform: translateY(-50%);
        z-index: 1;

        &:hover {
          color: v.$text-sub-color;
        }
      }
    }

    &__button {
      margin-bottom: 0 !important;
    }
  }

  &__footer {
    margin-top: 48px;
    text-align: center;

    &__ask-account,
    &__author {
      font-size: 15px !important;
      font-weight: 500 !important;
      color: v.$text-color !important;
    }

    &__register-link {
      color: v.$primary !important;
    }

    &__heart-icon {
      font-size: 12px;
      color: #ff0000 !important;
    }
  }
}
