@use '../../assets/styles/variables' as v;

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;

  .logo {
    margin-bottom: 48px;
    img {
      height: 30px;
    }
  }

  .heading {
    color: v.$text-color;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .sub-heading {
    color: v.$text-sub-color;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0px !important;
    margin-bottom: 24px;
  }

  .card {
    width: 100%;
    max-width: 456px;
    padding: 24px;
    border-radius: 4px;
  }

  .form-container {
    padding: 16px;

    // Custom CSS for label
    .ant-form-item-label {
      padding: 0;

      .ant-form-item-required {
        font-size: 15px;
        color: v.$text-color;
        font-weight: 500;
      }
    }

    .login-button {
      width: 100%;
    }

    // CSS link styles
    .wrapper-password {
      position: relative;
      .login-form-forgot-link {
        font-size: 13px;
        color: v.$text-sub-color;
        position: absolute;
        right: 0;
        top: 16px;
        transform: translateY(-50%);
      }
    }

    .ant-form-item {
      margin-bottom: 16px;

      &.wrapper-button-login {
        margin-bottom: 0;

        button {
          font-size: 15px;
        }
      }
    }
  }

  .form-footer {
    margin-top: 48px;
    text-align: center;

    .footer-ask-account,
    .footer-author {
      font-size: 15px;
      font-weight: 500;
      color: v.$text-color;
    }

    .register-link {
      color: v.$primary;
    }

    .heart-icon {
      font-size: 12px;
      color: #ff0000;
    }
  }
}
