@use '../../../assets/styles/_variables.scss' as v;

.ant-btn.button {
  padding: 8px 16px;
  height: auto;
  background: v.$button;
  border: 1px solid transparent;

  &[ant-click-animating-without-extra-node='true']::after,
  .ant-click-animating-node {
    box-shadow: unset;
    animation: unset;
  }

  &:hover,
  &:focus {
    background: v.$button-hover;
    border-color: v.$button-hover-border;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled]:active {
    color: v.$white;
    border-color: transparent;
    background: v.$button;
    opacity: 0.6;
  }

  &.login-button,
  &.register-button {
    width: 100%;
    height: 40px;
    font-size: 15px;
    border-radius: 4px;
  }
}
