@use '../../../assets/styles/_variables.scss' as v;

.ant-btn.button {
  padding: 8px 16px;
  height: auto;
  background: v.$button;
  border: 1px solid transparent;

  &:hover,
  &:focus {
    background: v.$button-hover;
    border-color: v.$button-hover-border;
  }

  &.login-button {
    height: 40.5px;
    border-radius: 4px;
  }
}
