@use '../../../assets/styles/variables' as v;

.user-item {
  width: 100%;
  min-height: 63.5px;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .user-item__avtar {
    margin-right: 12px;
  }

  .user-item__info {
    flex: 1;
    .user-name {
      margin: 0;
      color: v.$text-color;
      font-size: 16px;
      font-weight: 500;
    }

    .user-location {
      margin: 0;
      color: v.$text-sub-color;
      font-size: 13px;
      font-weight: 300;
    }
  }

  .user-item__action {
    .add-user-btn,
    .cancel-user-btn {
      color: v.$white;
      font-size: 12px;
      padding: 4px 10px;
      border-radius: 8px;
    }

    .cancel-user-btn {
      color: v.$black;
      background-color: #d4d3f9;
      border-color: #d4d3f9;

      &:hover {
        background-color: #a8a7e2;
        border-color: #a8a7e2;
      }
    }
  }
}
