@use '../../../assets/styles/variables' as v;

.ant-dropdown-menu.privacy-menu {
  width: 158px;
  padding: 8px 0;
  border-radius: 4px;
  border: 1px solid #f0eff5;
  box-shadow: 0 2px 4px rgb(15 34 58 / 12%);

  &.dark-mode {
    background-color: #313a43;
    border: 1px solid #313a43;

    .ant-dropdown-menu-item {
      .menu-item {
        .menu-item__title {
          color: #9aa1b9;
        }
      }
    }
  }

  .ant-dropdown-menu-item {
    padding: 0;

    .menu-item {
      height: 36px;
      width: 100%;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: unset;

      .menu-item__title {
        margin: 0;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }

  .ant-dropdown-menu-item-divider {
    margin: 8px 0;
  }
}
