.chat-day-title {
  margin-bottom: 24px;
  margin-top: 12px;
  position: relative;
  text-align: center;
  width: 100%;
  height: 1px;
  background-color: #f0eff5;
  .chat-day-title__title {
    background-color: #f0eff5;
    border-radius: 5px;
    font-size: 13px;
    padding: 6px 12px;
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 30px;
    top: calc(50% - 15px);
    left: calc(50% - 50px);
  }
}
