@use '../../../assets/styles/variables' as v;

.ant-typography.title.chat-header__username {
  font-size: 16px;
  font-weight: 500;
  color: v.$text-color;
  margin-bottom: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-typography.title.titlecall {
  padding: 10px;
  align-items: center;
  gap: 6px;
  color: #7a7f9a;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}
.titlecall__username {
  margin: 15px 0;
  padding: 15px;
}
