@use '../../../assets/styles/variables' as v;

.carousel {
  display: flex;
  width: 100%;
  overflow: scroll;
  cursor: pointer;

  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel-item {
  &.dark-mode {
    background-color: #36404a;

    .carousel-item__name {
      color: #e1e9f1;
    }
  }

  padding: 8px 14px;
  position: relative;
  text-align: center;
  border-radius: 8px;
  background-color: #e6ebf5;
  margin-top: 16px;
  margin-right: 8px;

  .carousel-item__avatar {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    top: -16px;
    transform: translateX(-50%);

    .carousel-item__status {
      background-color: #06d6a0;
      border: 2px solid #fff;
      border-radius: 50%;
      bottom: 0;
      height: 10px;
      left: auto;
      position: absolute;
      right: 0;
      width: 10px;
    }
  }

  .carousel-item__name {
    font-size: 13px;
    margin-top: 12px;
    margin-bottom: 4px;
    font-weight: 600;
    color: v.$text-color;
    position: relative;
    top: 1px;
  }
}
