@use '../../../assets/styles/variables' as v;

.dropdown-search {
  width: 238px;
  padding: 8px;
  border-radius: 0.4rem;
  border: 0.5px solid rgba($color: #53565a, $alpha: 0.1);
  background-color: #fff;
  .dropdown-search__input {
    outline: none;
    border-radius: 0.4rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #e3eaf2;
    border: 1px solid transparent;
    &::placeholder {
      color: #7a7f9a;
    }
  }
}
.ant-input.dropdown-search__input {
  &:hover,
  &:focus {
    box-shadow: unset;
    border: 1px solid v.$button-hover-border;
  }
}
