@use '../../../assets/styles/variables' as v;

.search-sidebar {
  position: relative;

  &.dark-mode {
    .search-sidebar__input {
      background-color: rgb(54, 64, 74);
      border: 1px solid rgb(54, 64, 74);

      &::placeholder {
        color: #9aa1b9;
      }
    }

    span {
      .search-sidebar__icon {
        color: #9aa1b9;
      }
    }
  }

  .search-sidebar__input {
    padding: 11px 16px 11px 56px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #e6ebf5;
    border: 1px solid v.$input-border;

    &:hover {
      border: 1px solid #8c86dd;
    }

    &:focus {
      border-color: #8c86dd;
      box-shadow: 0 0 0 2px #cdcbef;
    }

    &::placeholder {
      color: v.$text-sub-color;
    }
  }

  span {
    position: absolute;
    top: 7px;
    left: 9px;

    .search-sidebar__icon {
      font-size: 18px;
      color: v.$icon-color;
    }
  }
}
