@use '../../../../src/assets/styles/variables' as v;

.sidebar-contacts {
  &.dark-mode {
    .sidebar-contacts__header {
      .contact-title {
        color: #e1e9f1;
      }
      .contact-add {
        .contact-add__icon {
          color: #9aa1b9;
        }
      }
    }
    .sidebar-contacts__box {
      .contact-names {
        .contact-names__btn {
          &.contact-names__btn--active {
            background-color: #36404a;
          }
          .contact-names__label {
            color: #e1e9f1;
          }
          .contact-names__icon {
            color: #9aa1b9;
          }
        }
      }
    }
  }

  .sidebar-contacts__header {
    padding: 24px 24px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    .contact-title {
      color: v.$text-color;
      font-size: 21px;
      font-weight: 600;
      margin: 0;
    }

    .contact-add {
      width: 56px;
      display: flex;
      justify-content: center;
      align-items: center;

      .contact-add__icon {
        font-size: 20px;
        color: v.$icon-color;
        cursor: pointer;
      }
    }
  }
  .sidebar-contacts__search {
    padding: 0 24px 24px;
  }

  .sidebar-contacts__box {
    padding: 24px;
    height: calc(100vh - 160px);
    overflow: auto;

    .spin.loading {
      position: unset;
      transform: unset;
      display: flex;
      justify-content: center;

      .loading-icon {
        color: v.$primary;
        font-size: 32px;
      }
    }

    .firt-character {
      padding: 4px 16px;
      color: rgb(114, 105, 239);
      font-size: 15px;
      font-weight: 600;
    }

    .contact-names {
      list-style: none;

      .contact-names__btn {
        width: 100%;
        padding: 10px 20px;
        line-height: 1.8;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        background-color: transparent;
        border-radius: 10px;
        box-shadow: unset;
        margin: 6px 0;

        &--active {
          border: 1px solid #5b54bf;
          background-color: #efeeff;
        }

        .contact-names__label {
          font-weight: 600;
          font-size: 14px;
          color: v.$text-color;
          cursor: pointer;
          transition: all 0.3s;
        }

        .ant-dropdown-trigger.dropdown {
          display: flex;
          align-items: center;
        }

        .contact-names__icon {
          font-size: 16px;
          display: flex;
          align-items: center;
          cursor: pointer;
          color: v.$text-color;
        }
      }
    }
  }
}

.overlay-modal {
  height: 100%;
  left: 0;
  outline: 0;
  position: fixed;
  top: -10%;
  width: 100%;
  opacity: 0;
  z-index: 1055;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  pointer-events: none;

  &.overlay-modal--active {
    top: 0;
    opacity: 1;
    pointer-events: visible;
  }

  .overlay-modal__dialog {
    width: 500px;
    background-color: v.$white;
    border: 1px solid #f0eff5;
    border-radius: 8px;
    z-index: 100000;

    .dialog-header {
      padding: 16px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #f0eff5;

      .dialog-header__title {
        font-weight: 600;
        color: v.$text-color;
        margin: 0;
      }

      button {
        border: none;
        background-color: transparent;
        font-size: 16px;
        cursor: pointer;
      }
    }

    .dialog-body {
      padding: 24px;

      .dialog-body__email {
        margin-bottom: 24px;

        .email-label {
          display: block;
          margin-bottom: 8px;
          font-weight: 500;
          font-size: 15px;
        }

        .email-input {
          border-radius: 4px;
          font-size: 14px;
          border: 1px solid v.$input-border;
          &:hover {
            border: 1px solid #8c86dd;
          }

          &:focus {
            border-color: #8c86dd;
            box-shadow: 0 0 0 2px #cdcbef;
          }

          &::placeholder {
            color: v.$text-sub-color;
          }
        }
      }

      .dialog-body__message {
        .message-label {
          display: block;
          margin-bottom: 8px;
          font-weight: 500;
          font-size: 15px;
        }

        .message-input {
          width: 100%;
          height: 81px;
          padding: 8px 16px;
          font-size: 14px;
          outline: none;
          border-radius: 4px;
          border: 1px solid v.$input-border;
          transition: all 0.3s;

          &:hover {
            border: 1px solid #8c86dd;
          }

          &:focus {
            border-color: #8c86dd;
            box-shadow: 0 0 0 2px #cdcbef;
          }

          &::placeholder {
            color: v.$text-sub-color;
          }
        }
      }
    }

    .dialog-footer {
      align-items: center;
      border-top: 1px solid #f0eff5;
      display: flex;
      flex-shrink: 0;
      flex-wrap: wrap;
      justify-content: flex-end;
      padding: 0 12px 16px;

      .btn-close,
      .btn-invite {
        font-size: 15px;
        margin-top: 16px;
      }

      .btn-close {
        margin-right: 8px;
        background-color: transparent;
        box-shadow: none;
        color: v.$button;
        border: none;
        outline: none;
      }
      .btn-invite {
        color: white;
      }
    }
  }
}

.overlay-backdrop {
  background-color: #000;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  opacity: 0;
  z-index: 1050;
  transition: opacity 0.15s linear;
  pointer-events: none;

  &.overlay-backdrop--active {
    opacity: 0.5;
  }
}
