@use '../../../assets/styles/variables' as v;

.sidebar-settings {
  .ant-switch {
    min-width: 28px;
    width: 30px;
    height: 15px;
    border: 1px solid rgba(0,0,0,.25);
    background-color: #f7f7f7;  

    .ant-switch-handle {
      width: 11px;
      height: 11px;
      top: 1px;
      left: 1px;

      &::before {
      background-color: #b9b9bf;
      box-shadow: none;
      }
    }
  }
  .ant-switch:focus {
    border: 1px solid #beb9f9;
    outline: 2px solid #ceccf9;

    .ant-switch-handle {
      &::before {
      background-color: black;
      box-shadow: none;
      }
    }
  }

  .ant-switch.ant-switch-checked {
    background-color: v.$checkbox-bg;

    .ant-switch-handle {
      left: 16px;

      &::before {
        background-color: v.$white;
        box-shadow: none;
      }
    }
  }

  .sidebar-settings__title {
    padding: 24px 24px 0;
    color: #495057;
    font-size: 21px;
    font-weight: 600;
    margin: 0;
  }

  .user-info {
    padding: 24px;
    text-align: center;

    .user-info__avatar {
      position: relative;
      display: inline-block;
      margin-bottom: 24px;

      .avatar-btn {
        position: absolute;
        bottom: -4px;
        right: 0;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: #e6ebf5;
        border: 2px solid transparent;

        &:focus {
          border: 2px solid #dee2e8;
        }

        &__icon {
          color: #212529;
        }
      }
    }
    .user-info__name {
      color: v.$text-color;
      margin-bottom: 4px;
      line-height: 1.2;
    }

    .user-info__status {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .status-current {
        font-size: 15px;
        color: v.$text-sub-color;
      }

      .status-icon {
        font-size: 10px;
        margin-left: 6px;
        color: v.$icon-color;
      }
    }
  }

  .sidebar-settings__content {
    padding: 0 24px 24px;
    height: calc(100vh - 336px);
    overflow: auto;

    .ant-collapse.info,
    .ant-collapse.privacy,
    .ant-collapse.security,
    .ant-collapse.help {
      margin-bottom: 8px;
      background-color: v.$white;
      border: 1px solid #f0eff5;
      border-radius: 6px;

      .info__panel,
      .privacy__panel,
      .security__panel,
      .help__panel {
        .ant-collapse-header {
          padding: 12px 20px;

          .ant-collapse-arrow {
            font-size: 10px;
          }

          .panel-header {
            display: flex;
            align-items: center;
            gap: 6px;

            .panel-header__icon {
              color: v.$text-color;
            }

            .panel-header__title {
              margin: 0;
              font-size: 14px;
              color: v.$text-color;
            }
          }
        }

        .ant-motion-collapse,
        .ant-collapse-content.ant-collapse-content-active {
          .ant-collapse-content-box {
            padding: 0;

            .panel-inner {
              list-style: none;
              padding: 20px;
              margin: 0;
              position: relative;

              .btn-edit {
                position: absolute;
                right: 24px;
                top: 24px;
                padding: 4px 8px;
                background-color: v.$card-background-hover;
                font-size: 13.125px;
                line-height: 1.4;
                border: 2px solid transparent;
                border-radius: 3px;

                &:focus {
                  border: 2px solid #dee2e8;
                }
              }

              .info-item {
                .info-item__title {
                  font-size: 15px;
                  color: #7a7f9a;
                  font-weight: 400;
                  margin-bottom: 4px;
                }

                .info-item__desc {
                  font-size: 14px;
                  color: v.$text-color;
                  margin: 0;
                }
              }

              .info-item + .info-item {
                margin-top: 24px;
              }
            }
          }
        }
      }
    }

    .privacy {
      .divider {
        margin: 16px 0;
      }
      .privacy-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .privacy-item__title {
          font-size: 13px;
          color: v.$text-color;
          margin: 0;
        }

        .privacy-item__btn {
          padding: 3px 8px;
          background-color: #e6ebf5;
          font-size: 13.125px;
          border: 2px solid transparent;

          &:hover {
            color: v.$text-color;
            opacity: 0.9;
          }

          &:focus {
            border: 2px solid #dee2e8;
            color: v.$text-color;
          }

          .btn-icon {
            font-size: 10px;
          }
        }
      }
    }

    .security {
      .panel-inner {
        .security-item {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .security-item__title {
            font-size: 13px;
            color: v.$text-color;
            font-weight: 600;
          }
        }
      }
    }

    .help {
      .panel-inner {
        .help-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;

          .help-item__title {
            font-size: 13px;
            color: v.$text-color;
            font-weight: 600;
            margin: 0;
          }
        }
        .divider {
          margin: 16px 0;
        }
      }
    }
  }
}
