@use '../../../assets/styles/variables' as v;

.sidebar-settings {
  background-color: #f5f7fb;
  width: 95%;

  .title-settings {
    width: 1000px;
    margin: 0 auto;
    margin-top: 24px;
    color: v.$text-color;
    font-size: 21px;
  }
  .avatar-settings {
    text-align: center;
    .avatar-settings--inner {
      position: relative;
      display: inline-block;
      margin-bottom: 12px;
      .avatar-btn {
        position: absolute;
        bottom: -4px;
        right: 0;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: #e6ebf5;
        border: 2px solid transparent;
        &:focus {
          border: 2px solid #dee2e8;
        }
        &__icon {
          color: #212529;
        }
      }
    }
  }

  .title-list {
    width: 1000px;
    padding-left: 39px;
    padding-top: 12px;
    padding-bottom: 8px;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    margin-bottom: 24px;

    .ant-typography + h5.ant-typography {
      margin: 0;
    }
  }
  .account-details__title {
    padding: 4px 12px 4px 12px;
    background-color: white;
    margin: 0;
    color: v.$text-color;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;

    &.account-details__title--active {
      background-color: v.$background;
      color: v.$button;
    }

    &:hover {
      background-color: v.$background;
    }
  }

  .user-info__avatar {
    position: relative;
    display: inline-block;
    margin-bottom: 24px;

    .avatar-btn {
      position: absolute;
      bottom: -4px;
      right: 0;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      display: flex;
      text-align: center;
      justify-content: center;
      background-color: #e6ebf5;
      border: 2px solid transparent;
      &:focus {
        border: 2px solid #dee2e8;
      }
      &__icon {
        color: #212529;
      }
    }
  }
  .user-info__name {
    color: v.$text-color;
    margin-bottom: 4px;
    line-height: 1.2;
    text-align: center;
  }
  .user-info__status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .status-current {
      font-size: 15px;
      color: v.$text-sub-color;
    }
    .status-icon {
      font-size: 10px;
      margin-left: 6px;
      color: v.$icon-color;
    }
  }

  .account-details {
    flex: 1;
    display: flex;
    justify-content: center;
    .account-details--inner {
      background-color: white;
      box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
      border-radius: 5px;

      .form-container {
        padding: 24px;
        width: 1000px;
        background-color: v.$white;
        margin: 0 auto;

        .ant-form-item {
          margin-bottom: 16px;
          display: inline-block;
          width: 50%;
          padding: 0 15px;

          .ant-input[disabled] {
            background-color: v.$background;
          }
          .ant-form-item-label {
            padding: 0;
            .ant-form-item-required {
              font-size: 15px;
              color: v.$text-color;
              font-weight: 500;
            }
          }
        }
        .form-input {
          box-shadow: none;
          border-radius: 4px;
          border: 1px solid #e6ebf5;
          &:hover {
            border-color: v.$primary;
          }
          &:focus {
            border-color: v.$primary;
          }
        }
        .form-button {
          .cancel-button {
            margin-top: 24px;
            background-color: transparent;
            color: v.$button;
            border: none;
            box-shadow: none;
            font-size: 15px;

            &:hover {
              opacity: 0.8;
            }
          }
          .save-change-button {
            font-size: 15px;
          }
        }
      }
      .privacy {
        .divider {
          margin: 16px 0;
        }
        .privacy-item {
          padding-left: 51px;
          width: 300px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .privacy-item__title {
            font-size: 13px;
            color: v.$text-color;
            margin: 0;
          }
          .privacy-item__btn {
            padding: 3px 8px;
            background-color: #e6ebf5;
            font-size: 13.125px;
            border: 2px solid transparent;

            &:hover {
              color: v.$text-color;
              opacity: 0.9;
            }
            &:focus {
              border: 2px solid #dee2e8;
              color: v.$text-color;
            }

            .btn-icon {
              font-size: 10px;
            }
          }
        }
      }
      .security {
        .panel-inner {
          .security-item {
            padding-left: 51px;
            width: 300px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .security-item__title {
              font-size: 13px;
              color: v.$text-color;
              font-weight: 600;
            }
          }
        }
      }
      .help {
        .panel-inner {
          .help-item {
            padding-left: 51px;
            width: 300px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            .help-item__title {
              font-size: 13px;
              color: v.$text-color;
              font-weight: 600;
              margin: 0;
            }
          }
          .divider {
            margin: 16px 0;
          }
        }
      }
    }
  }
}
