@use '../../../assets/styles/variables' as v;

.ant-avatar.avatar {
  color: v.$avatar-text;
  background-color: v.$avatar-bg;
  display: flex;
  align-items: center;
}

.ant-avatar-group.avatar-group {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .ant-avatar.ant-avatar-circle {
    --size: 26px;
    height: var(--size);
    width: var(--size);
  }
}
