@use '../../../assets/styles/variables' as v;

.sidebar-user {
  width: 100%;
  border-left: 4px solid rgba($color: #495057, $alpha: 0.1);
  .header-user {
    display: flex;
    justify-content: end;
    padding: 24px;
    .header-user__btn {
      background-color: #fff;
      border: none;
      box-shadow: none;
    }
  }

  .user-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .custom-avatar {
      padding: 4px;
      background-color: #f0eff5;
      margin-bottom: 24px;

      img {
        border-radius: 50%;
      }
    }

    .title.username {
      font-size: 16px;
      font-weight: 500;
      color: v.$text-color;
      margin-bottom: 4px;
    }
  }

  .content-profile {
    overflow: auto;
    height: calc(100vh - 315px);
  }

  .status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 5px;

    .status__icon {
      color: #08d6a1;
      font-size: 10px;
    }

    .status__name {
      color: #7a7f9a;
      font-size: 15px;
      font-weight: 400;
      margin: 0;
    }
  }

  .description {
    padding: 24px;
    padding-top: 0;
    margin: 0;
    color: #7a7f9a;
    font-size: 15px;
    font-weight: 400;
  }

  .ant-collapse.user-info,
  .ant-collapse.attached {
    margin: 0 24px;
    margin-bottom: 8px;
    background-color: v.$white;
    border: 1px solid #f0eff5;
    border-radius: 6px;

    .user-info__panel,
    .attached__panel {
      .ant-collapse-header {
        padding: 12px 20px;

        .ant-collapse-arrow {
          font-size: 10px;
        }

        .panel-header {
          display: flex;
          align-items: center;
          gap: 6px;

          .panel-header__icon {
            color: v.$text-color;
          }

          .panel-header__title {
            margin: 0;
            font-size: 14px;
            color: v.$text-color;
          }
        }
      }

      .ant-motion-collapse,
      .ant-collapse-content.ant-collapse-content-active {
        .ant-collapse-content-box {
          padding: 0;

          .panel-inner {
            list-style: none;
            padding: 20px;
            margin: 0;

            .info-item {
              .info-item__title {
                font-size: 15px;
                color: #7a7f9a;
                font-weight: 400;
                margin-bottom: 4px;
              }

              .info-item__desc {
                font-size: 14px;
                color: v.$text-color;
                margin: 0;
              }
            }

            .info-item + .info-item {
              margin-top: 24px;
            }
          }
        }
      }
    }
  }

  .list-file {
    padding: 15px 20px;
    overflow-y: auto;
    max-height: 326px;
  }
}
.ant-btn.header-user__btn {
  &[ant-click-animating-without-extra-node='true']::after,
  .ant-click-animating-node {
    box-shadow: unset;
    animation: unset;
  }
  &:hover,
  &:focus {
    color: v.$button-hover-border;
  }
}
