@use '../../../assets/styles/variables' as v;

.sidebar-profile {
  &.dark-mode {
    .header-profile {
      .profile-heading {
        color: #e1e9f1;
      }
    }
    .user-info {
      .title.user-info__name {
        color: #e1e9f1;
      }

      .user-info__status {
        color: #9aa1b9;
      }
    }
    .content-profile {
      .user-description {
        color: #9aa1b9;
      }
      .ant-collapse.attached,
      .ant-collapse.user-profile {
        border: none;

        .attached__panel,
        .user-profile__panel {
          background-color: #36404a;
          border-radius: 4px;
          .ant-collapse-header {
            .ant-collapse-arrow svg {
              color: #e1e9f1;
            }
            .panel-header {
              .panel-header__title,
              .panel-header__icon {
                color: #e1e9f1;
              }
            }
           
          }
          .panel-inner,
          .list-file {
            background-color: #262e35;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }

        .ant-motion-collapse,
        .ant-collapse-content.ant-collapse-content-active {
          .ant-collapse-content-box {
            .panel-inner {
              .profile-item {
                .profile-item__title {
                  color: #9aa1b9;
                }

                .profile-item__desc {
                  color: #e1e9f1;
                }
              }
            }
          }
        }
      }
    }
  }

  .header-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;

    .profile-heading {
      color: v.$text-color;
      font-size: 21px;
      font-weight: 600;
      margin: 0;
    }

    .action-menu {
      .actions-menu__icon {
        color: #7a7f9a;
        font-size: 22px;
      }
    }
  }

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .custom-avatar {
      padding: 4px;
      background-color: #f0eff5;
      margin-bottom: 24px;

      img {
        border-radius: 50%;
      }
    }

    .title.user-info__name {
      font-size: 16px;
      font-weight: 500;
      color: v.$text-color;
      margin-bottom: 4px;
    }
  }

  .user-info__status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    .status-icon {
      color: #08d6a1;
      font-size: 10px;
    }

    .status-title {
      color: #7a7f9a;
      font-size: 15px;
      font-weight: 400;
      margin: 0;
    }
  }

  .content-profile {
    overflow: overlay;
    height: calc(100vh - 315px);

    .user-description {
      padding: 24px;
      padding-top: 0;
      margin: 0;
      color: #7a7f9a;
      font-size: 15px;
      font-weight: 400;
    }

    .ant-collapse.user-profile,
    .ant-collapse.attached {
      margin: 0 24px;
      margin-bottom: 8px;
      background-color: v.$white;
      border: 1px solid #f0eff5;
      border-radius: 6px;

      .user-profile__panel,
      .attached__panel {
        .ant-collapse-header {
          padding: 12px 20px;

          .ant-collapse-arrow {
            font-size: 10px;
          }

          .panel-header {
            display: flex;
            align-items: center;
            gap: 6px;

            .panel-header__icon {
              color: v.$text-color;
            }

            .panel-header__title {
              margin: 0;
              font-size: 14px;
              color: v.$text-color;
            }
          }
        }
      }

      .ant-motion-collapse,
      .ant-collapse-content.ant-collapse-content-active {
        .ant-collapse-content-box {
          padding: 0;

          .panel-inner {
            list-style: none;
            padding: 20px;
            margin: 0;

            .profile-item {
              .profile-item__title {
                font-size: 15px;
                color: #7a7f9a;
                font-weight: 400;
                margin-bottom: 4px;
              }

              .profile-item__desc {
                font-size: 14px;
                color: v.$text-color;
                margin: 0;
              }
            }

            .profile-item + .profile-item {
              margin-top: 24px;
            }
          }
        }
      }
    }
  }

  .list-file {
    padding: 15px 20px;
    overflow-y: auto;
    max-height: 326px;
  }
}
