@use '../../../assets/styles/variables' as v;

.wrapper-input {
  height: 43px;
  display: flex;
  align-items: center;

  .prefix-icon {
    width: 48px;
    height: 100%;
    color: v.$icon-color;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: v.$card-border;
    border: 1px solid v.$input-border;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .suffix-input {
    flex: 1;
    height: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    &.input-username,
    &.input-email {
      border-color: v.$input-border;

      &:focus,
      &:hover {
        border-color: v.$primary;
        box-shadow: none;
      }

      &.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
        border-color: v.$input-border;
        box-shadow: none;
      }

      &::placeholder {
        font-size: 15px;
        color: v.$input-placeholder;
      }

      &.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:focus {
        border-color: v.$input-border;
        box-shadow: 0 0 0 2.4px rgb(239 71 111 / 25%);
      }
    }

    &.input-password {
      & > input {
        color: v.$text-color;
      }

      & > input::placeholder {
        font-size: 15px;
        color: v.$input-placeholder;
      }

      &.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover
        &.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
        border-color: v.$primary;
      }

      &.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper {
        border-color: v.$input-border;
      }

      &.ant-input-affix-wrapper:focus,
      &.ant-input-affix-wrapper:hover,
      &.ant-input-affix-wrapper-focused {
        box-shadow: none;
        border-color: v.$primary;
      }

      &.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:focus,
      &.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper-focused {
        border-color: v.$input-border;
        box-shadow: 0 0 0 2.4px rgb(239 71 111 / 25%);
      }
    }
  }
}
