@use '../../../assets/styles/variables' as v;

.friend-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px;
  min-height: 64px;
  cursor: pointer;

  .friend-item__info {
    flex: 1;
    overflow: hidden;

    .friend-name {
      margin: 0;
      color: v.$text-color;
      font-size: 16px;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .friend-location {
      margin: 0;
      color: v.$text-sub-color;
      font-size: 13px;
      font-weight: 300;
    }
  }

  .friend-item__actions {
    .accept-btn,
    .cancel-btn {
      color: v.$white;
      font-size: 12px;
      padding: 4px 10px;
      border-radius: 8px;
    }

    .cancel-btn {
      color: v.$black;
      background-color: #d4d3f9;
      border-color: #d4d3f9;

      &:hover {
        background-color: #a8a7e2;
        border-color: #a8a7e2;
      }
    }

    .accept-btn + .cancel-btn {
      margin-left: 6px;
    }
  }
}
