@use '../../assets/styles/variables' as v;

.forgot-password {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px 0;
  flex-direction: column;

  .find-account {
    max-width: 400px;
    width: 100%;
    text-align: center;
    padding: 24px;
    background-color: v.$white;

    .find-account__heading {
      color: v.$text-color;
      font-weight: 600;
      margin-bottom: 8px;
    }

    .ant-form-item-explain-connected {
      text-align: left;
    }

    .find-account__sub-heading {
      color: v.$text-sub-color;
      font-size: 15px;
      font-weight: 400;
      margin-top: 0px;
      margin-bottom: 24px;
    }

    .find-account__btn {
      display: flex;
      justify-content: end;
      margin-top: 24px;

      .btn-cancel {
        background-color: transparent;
        border: none;
        box-shadow: none;

        &:hover {
          border: none;
          outline: none;
          color: v.$text-color;
          opacity: 0.8;
        }

        &:focus {
          color: v.$text-color;
        }
      }

      .btn-search {
        color: v.$white;
      }
    }
  }

  .forgot-password__footer {
    margin-top: 60px;
    text-align: center;
  }
}
