@use '../../../assets/styles/variables' as v;

.messages {
  display: flex;
  flex-direction: column;

  .bubble-chat {
    &--right {
      display: flex;
      flex-direction: row-reverse;
    }

    &--left {
      display: flex;
      flex-direction: row;
    }
  }
  .content {
    margin: 0px 10px;
    padding: 14px 18px;
    background: #f5f7fb;
    border-radius: 9px;
    position: relative;
    font-size: 15px;
    animation: fadeIn 1s ease-in;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-bottom: 0;
      margin-top: -10px;
    }

    &--left {
      &:after {
        left: 0;
        border-top-color: #f5f7fb;
        border-left: 0;
        margin-top: 6px;
      }

      .time {
        color: #7a7f9a;
        text-align: right;
      }
    }

    &--right {
      background: v.$primary;
      color: #fff;

      &:after {
        right: 0;
        border-top-color: v.$primary;
        border-right: 0;
        margin-top: 6px;
      }

      .content--time {
        color: hsla(0, 0%, 100%, 0.5);
        text-align: left;
      }
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    .time {
      margin-top: 10px;
      font-size: 12px;

      .custom-icon-time {
        padding: 4px;
      }
    }

    .custom-icon-actions {
      font-size: 15px;
    }
  }
}
