@use '../../../assets/styles/variables' as v;

.messages {
  display: flex;
  flex-direction: column;
  .bubble-chat {
    display: flex;
    &--right {
      flex-direction: row-reverse;
    }

    &--left {
      flex-direction: row;
    }
  }
  .bubble-chat__content {
    padding: 14px 18px;
    background: #f5f7fb;
    border-radius: 9px;
    position: relative;
    font-size: 15px;
    margin: auto;
    max-width: 600px;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-all;
    cursor: text;
    user-select: text;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-bottom: 0;
      margin-top: -10px;
    }

    &--left {
      margin-left: 10px;
      &:after {
        left: 0;
        border-top-color: #f5f7fb;
        border-left: 0;
        margin-top: 6px;
      }
      .chat-time {
        color: #7a7f9a;
        text-align: right;
      }
    }

    &--right {
      background: v.$primary;
      color: #fff;
      margin-right: 10px;
      &:after {
        right: 0;
        border-top-color: v.$primary;
        border-right: 0;
        margin-top: 6px;
      }

      .chat-time {
        color: hsla(0, 0%, 100%, 0.5);
        text-align: left;
      }
    }
    
    .message.typing {
      color: v.$primary;
      font-weight: 500;

      .animate-typing {
        .dot {
          animation: wave 1.3s linear infinite;
          background: #7269ef;
          border-radius: 50%;
          display: inline-block;
          height: 4px;
          margin-right: -1px;
          opacity: 0.6;
          width: 4px;

          &:nth-child(2) {
            animation-delay: -1.1s;
          }

          &:nth-child(3) {
            animation-delay: -0.9s;
          }
        }

        .ms-1 {
          margin-left: 4px;
        }
      }
    }
    .chat-time {
      margin-top: 10px;
      font-size: 12px;

      .custom-icon-time {
        padding: 4px;
      }
    }

    .bubble-chat__actions {
      .dropdown {
        border: none;
      }
      .custom-icon-actions {
        font-size: 15px;
      }
    }
  }
}
