.chat-ui {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .chat-ui-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        &--true {
            width: 65%;
        }
    }
   
    .chat-ui-profile {
        display: flex;
        width: 35%;
    }
}