@use '../../../assets/styles/variables' as v;

.chatmain {
  padding: 24px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 7.5px;
    background-color: white;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    height: 22px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
}
