@use '../../../../src/assets/styles/variables' as v;

.sidebar-groups {


  &.dark-mode {
    .sidebar-groups__header {
      .group-title {
        color: #e1e9f1;
      }
      .group-create {
        .group-create__icon {
          color: #9aa1b9;
        }
      }
    }
  }

  .sidebar-groups__header {
    padding: 24px;
    display: flex;
    justify-content: space-between;

    .group-title {
      color: v.$text-color;
      font-size: 21px;
      font-weight: 600;
      margin: 0;
    }

    .group-create {
      width: 56px;
      display: flex;
      justify-content: center;
      align-items: center;

      .group-create__icon {
        font-size: 20px;
        color: v.$icon-color;
        cursor: pointer;
      }
    }
  }

  .sidebar-groups__search {
    padding: 0 24px 24px;
  }

  .sidebar-groups__box {
    padding: 24px;
    overflow: auto;
    height: calc(100vh - 147px);
  }
}

.overlay-modal {
  height: 100%;
  left: 0;
  outline: 0;
  position: fixed;
  top: -10%;
  width: 100%;
  opacity: 0;
  z-index: 1055;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  pointer-events: none;

  &.overlay-modal--active {
    top: 0;
    opacity: 1;
    pointer-events: visible;
  }

  .overlay-modal__dialog {
    width: 500px;
    background-color: v.$white;
    border-radius: 8px;
    z-index: 100000;

    .dialog-header {
      padding: 16px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #f0eff5;

      .dialog-header__title {
        font-weight: 600;
        font-size: 18.75px;
        color: v.$text-color;
        margin: 0;
      }

      .dialog-header__btn {
        border: none;
        background-color: transparent;
        font-size: 16px;
        padding: 0;
        cursor: pointer;
      }
    }

    .dialog__body {
      padding: 24px;

      .group-name {
        margin-bottom: 24px;

        .group-name__title {
          margin-bottom: 8px;
          font-size: 15px;
          font-weight: 500;
          color: v.$text-color;
        }

        .group-name__input {
          border-radius: 4px;
          line-height: 1.4;
          font-size: 14px;
          border: 1px solid v.$input-border;

          &:hover {
            border: 1px solid #8c86dd;
          }

          &:focus {
            border-color: #8c86dd;
            box-shadow: 0 0 0 2px #cdcbef;
          }

          &::placeholder {
            color: v.$text-sub-color;
          }
        }
      }

      .group-members {
        .group-members__title {
          margin-bottom: 8px;
          font-size: 15px;
          font-weight: 500;
          color: v.$text-color;
        }

        .select-members {
          height: 36px;
          overflow: hidden;
          transition: 0.5s;

          &.select-contacts--open {
            height: 261px;
          }

          .select-members__btn {
            padding: 4px 8px;
            border-radius: 4px;
            background-color: #e6ebf5;
            border: 1px solid #e6ebf5;
            color: #212529;
            font-size: 13.125px;
            cursor: pointer;
            margin-bottom: 8px;

            &:hover {
              background-color: #eaeef7;
              border-color: #e9edf6;
              color: #212529;
            }
          }

          .select-contacts {
            margin-bottom: 24px;
            border: 1px solid #f0eff5;
            border-radius: 4px;

            .select-contacts__header {
              margin: 12px 20px;
              font-size: 15px;
              font-weight: 600;
              color: v.$text-color;
            }

            .select-contacts__add {
              padding: 8px;
              overflow: auto;
              height: 166px;

              .firt-character {
                padding: 16px;
                color: rgb(114, 105, 239);
                font-size: 15px;
                margin: 0;
              }

              .contact-names {
                list-style: none;

                li {
                  padding: 10px 20px;
                  display: flex;

                  .contact-names__checkbox {
                    width: 15px;
                    height: 15px;
                    border-radius: 4px;
                    margin-right: 8px;
                    margin-top: 2px;
                    background-color: #f7f7ff;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-size: contain;
                    border: 1px solid rgba(0, 0, 0, 0.25);
                    transition: background-color 0.15s ease-in-out,
                      background-position 0.15s ease-in-out,
                      border-color 0.15s ease-in-out,
                      box-shadow 0.15s ease-in-out;
                    vertical-align: top;
                    cursor: pointer;

                    &:checked[type='checkbox'] {
                      background-image: url();
                    }

                    &:checked {
                      background-color: #7269ef;
                      border-color: #7269ef;
                    }
                  }

                  .contact-names__label {
                    font-weight: 500;
                    font-size: 15px;
                    margin-bottom: 2px;
                    color: v.$text-color;
                  }
                }
              }
            }
          }
        }
      }

      .dialog-desc {
        padding-top: 20px;
        .dialog-desc__title {
          line-height: 1.2;
          font-weight: 500;
          font-size: 15px;
          margin-bottom: 8px;
          color: v.$text-color;
        }

        .dialog-desc__input {
          width: 100%;
          padding: 8px 16px;
          border: none;
          border-radius: 4px;
          height: 81px;
          outline: none;
          border: 1px solid v.$input-border;
          transition: all 0.3s;

          &:hover {
            border: 1px solid #8c86dd;
          }

          &:focus {
            border-color: #8c86dd;
            box-shadow: 0 0 0 2px #cdcbef;
          }

          &::placeholder {
            color: v.$text-sub-color;
          }
        }
      }
    }

    .dialog__footer {
      align-items: center;
      border-top: 1px solid #f0eff5;
      display: flex;
      flex-shrink: 0;
      flex-wrap: wrap;
      justify-content: flex-end;
      padding: 0 12px 16px;

      .btn-close,
      .btn-create {
        font-size: 15px;
        margin-top: 16px;
      }

      .btn-close {
        margin-right: 8px;
        background-color: transparent;
        box-shadow: none;
        color: v.$button;
        border: none;
        outline: none;
      }
      .btn-create {
        color: white;
      }
    }
  }
}

.overlay-backdrop {
  background-color: #000;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  opacity: 0;
  z-index: 1050;
  transition: opacity 0.15s linear;
  pointer-events: none;

  &.overlay-backdrop--active {
    opacity: 0.5;
  }
}
