$background: #f7f7ff;
$headline: #2b2c34;
$paragraph: #2b2c34;

$text-color: #495057;

$button-text: #fffffe;
$stroke: #2b2c34;

// card
$card-background: #fff;
$card-border: #f5f7fb;

//input
$input-border: #e6ebf5;
$input-placeholder: #7a7f9a;
$input-error: #ef466f;

// button
$button: #7269ef;
$button-hover: #6159cb;
$button-hover-border: #5b54bf;
