$background: #f7f7ff;
$headline: #2b2c34;
$paragraph: #2b2c34;
$primary: #7269ef;

$white: #fff;
$black: #000;

$text-color: #495057;
$text-sub-color: #7a7f9a;

$button-text: #fffffe;
$stroke: #2b2c34;

//icon
$icon-color: #7a7f9a;

// card
$card-background: #fff;
$card-border: #f5f7fb;
$card-background-hover: #e6ebf5;

//input
$input-border: #e6ebf5;
$input-placeholder: #7a7f9a;
$input-error: #ef466f;

//checkbox
$checkbox-bg: #7269ef;

// button
$button: #7269ef;
$button-hover: #6159cb;
$button-hover-border: #5b54bf;

//avatar
$avatar-bg: #d4d3f9;
$avatar-text: #7269ef;
