$background: #f7f7ff;
$headline: #2b2c34;
$paragraph: #2b2c34;

$button-text: #fffffe;
$stroke: #2b2c34;

// card
$card-background: #fff;
$card-border: #f5f7fb;

// button
$button: #7269ef;
$button-hover: #6159cb;
$button-hover-border: #5b54bf;
